*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}


.flex-container{
    display:flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    /* padding: 10px 15px; */
}

header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;

}

header h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

header .list-items{
display: flex;
max-width: 260px;
width: 100%;
justify-content: space-between;
align-items: center;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}


.banner{
    width: 100%;
    /* height: 550px; */
    overflow: hidden;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px;

}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons span{
    width: 50px;
    margin: 5px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #122a5780;

    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    transition: all 0.2;

    margin-bottom:15px;
}

.icons span:hover{

    border: 1px solid white;
    background-color:#122a57;
    color: white;

}

.ad{
    background-color:#ffffffc5;
    width: 300px;
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input1{
    width: 100%;
    height: 40px;

    outline:none;
    border-radius: 15px;

    padding: 10px;

    border: 1px solid #122a5780;
    margin-bottom: 10px;
}

.label{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 5px;
}

.input2{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #122a5780;
}

.input3{
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #122a5780;
    outline: none;
}

.section1{
    background-color: #F1F3F5;
}


.intro{
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.intro img{
    min-width: 350px;
}

.intro .intro-text{
 min-height: 260px;
}

.intro .intro-text h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}


.btn {
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;

    transition: all 0.2s;
}

.btn:hover{
    background-color: #123c8b;
    color: rgb(211, 207, 207);
}

#about{
    flex-direction: row-reverse;

    align-items: center;
    justify-content: space-between;

    padding: 20px 0px 50px 0px;


}

#about h2{
    font-size: 32px;
    color:#122a57;
    display: flex;
    margin-bottom: 20px;
}

#about h2::before{
    content:'';
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#about p{
   margin-bottom: 10px;
   width: 90%;
}

#about img{
    min-width: 350px;
}

.outer-container{
    background-color: #122a57;
    width: 100%;
    
    padding-bottom: 30px;

}

#services{
    flex-direction: column;
    padding-top:50px;
    padding-bottom: 100px;
}


#services h2{
    color: #fff;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-services{
    display: flex;
    justify-content: space-between;
}

.list-services .item-service{
    text-align: center;
}

.item-service a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    color:#122a57;
}

.item-service p{
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.item-services img{
    width: 150px;
    margin: auto;
}

#plans{
 flex-direction: column;
 min-height: 100vh;
 padding-top: 50px;
}

#plans h2{
    font-size: 32px;
}

.plans-list{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plans{
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    /* padding: 10px; */
    max-width: 280px;
}

.item-plans .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plans h3{
    font-size: 24px;
    color: #122a57;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plans h3::after{
    content: '';
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.item-plans ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plans ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plans ul li::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;

}

footer{
    background-color: #122a57;
    height: 300px;
}

.footer{
    width: 100%;

    padding-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
}




/* mobile */
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }

    header{

        height: 150px;
        display: flex;
        text-align: center;

    }
    
    header .list-items{
    
        max-width: 100%;
        justify-content: space-evenly;
        
        padding: 20px;
        }

    .banner{

        background-image: url(../assets/banner2.jpg);
        background-size: cover;
        background-attachment: none;

        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 0px;
    
    }

    .section1{
        padding: 50px;
    }

    .intro{
        margin-top: 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .intro .intro-text{
        width: 100%;
        text-align: center;
       }

    .intro .btn{
        position: relative;
        left: 30%;
    }
    

    #about{
        flex-direction: column-reverse;
        padding: 10px;
        padding-bottom: 40px;
    }

    #about img{
        min-width: 320px;
        margin: auto;
    }

    #about p, #about h2{
        padding-left: 15px;
    }


    #services h2{
        text-align: center;
        margin-bottom: 40px;
    }

    .list-services{
        flex-direction: column;
    }

    .item-service{
        margin-bottom: 50px;
    }


    #plans h2{
        text-align: center;
        margin-bottom: 40px;
    }

    .plans-list{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .plans-list .item-plans{
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
    }
}